body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  background: #282C34;
  color: #FFF;
}

.title {
  text-align: center;
  margin: 50px auto 0 auto;
  max-width: 780px;
}

.container {
  max-width: 780px;
  margin: 50px auto 0 auto;
  padding: 100px 50px;
  background: #20232A;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  background: #61DAFB;
  color: #FFF;
  font-weight: bold;
  padding: 10px 20px;
  border: 2px solid #37a1c2;
  font-size: 22px;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
}

.stateOut {
  font-size: 50px;
  font-weight: bold;
}